<!doctype html>
<html>
  <head>
    <title>Series</title>
    <meta charset="utf-8">
    <link rel="icon" href="series_192.png">

    <link type="text/css" rel="stylesheet" href="bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script src="series.js" defer></script>
  </head>
  <body>
    <div id="app-loading" style="height:100vh"></div>
    <div id="app" class="pb-5">

      <!-- NAVBAR -->

      <b-navbar sticky toggleable="sm" :type="theme.navbar_type" :variant="theme.navbar_variant">
        <b-navbar-brand @click="route('home', undefined)">
          <img src="series_192.png" alt="Logo" style="width:40px;">
        </b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item :active="path=='my_series'" @click="route('my_series', undefined)">My Series</b-nav-item>
            <b-nav-item :active="path=='discover'" @click="route('discover', undefined)">Discover</b-nav-item>
          </b-navbar-nav>
          <b-navbar-nav class="ml-auto">
            <b-nav-item @click="update_shows()" class="mr-3" v-if="path=='home'">
              <b-icon-arrow-clockwise></b-icon-arrow-clockwise>
            </b-nav-item>
            <b-nav-item @click="switch_theme()" class="mr-3">
              <b-icon :icon="theme.icon" :variant="theme.icon_variant"></b-icon>
            </b-nav-item>
            <b-input-group>
              <b-form-input v-model="query" @keyup.enter="route('search', undefined)"></b-form-input>
              <b-button variant="primary" @click="route('search', undefined)">Search</b-button>
            </b-input-group>
            <b-nav-item :active="path=='settings'" @click="route('settings', undefined)" class="ml-3">
              <b-icon icon="gear-fill" :variant="theme.icon_variant"></b-icon>
            </b-nav-item>
            <b-nav-item @click="sign_out()" class="ml-3">
              <b-icon-lock-fill :variant="theme.icon_variant"></b-icon-lock-fill>
            </b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>

      <b-container v-if="path=='login'">
        <b-form-group label="Username" :class="theme.text">
          <b-form-input v-model="login.username" trim></b-form-input>
        </b-form-group>
        <b-form-group label="Password" :class="theme.text">
          <b-form-input v-model="login.password" trim type="password" @keyup.enter="sign_in()"></b-form-input>
        </b-form-group>
        <div class="text-center">
          <b-button variant="primary" @click="sign_in()">Sign In</b-button>
        </div>

      </b-container>

      <!-- HOME -->

      <b-row no-gutters v-if="path=='home'">
        <b-col cols="12" xl="6" v-for="s in shows" class="d-flex" :key="s.show.id">
          <b-card no-body class="flex-fill" :bg-variant="theme.card_bg" :text-variant="theme.card_text">
            <b-row no-gutters>
              <b-col cols="4" sm="2" class="d-flex">
                <b-card-img :src="s.show.images.poster" alt="poster" class="rounded-0" @error="set_outdated(s.show)" v-if="!s.show.outdated && s.show.images.poster!=undefined" style="object-fit: contain"></b-card-img>
                <div v-else class="d-flex flex-fill justify-content-center">
                  <b-button @click="update_show(s.show, false)" variant="secondary" class="align-self-center">
                    <b-icon-arrow-clockwise></b-icon-arrow-clockwise>
                  </b-button>
                </div>
              </b-col>
              <b-col cols="8" sm="10" class="d-flex">
                <b-card-body class="d-flex flex-column justify-content-between">
                  <b-card-title>
                    <b-button @click="route('serie', s.show.id)" variant="link" size="lg">{{ s.show.title }}</b-button>
                  </b-card-title>
                  <div v-if="s.episode!=undefined">
                    <b-row class="pb-4 d-flex align-items-center text-center">
                      <b-col cols="3">{{ s.episode.code_fmt }}</b-col>
                      <b-col cols="4" class="text-center">{{ s.episode.title }}</b-col>
                      <b-col cols="3">{{ s.episode.date.toLocaleDateString("fr-FR") }}</b-col>
                      <b-col cols="2">
                        <b-button @click="copy(s.show, s.episode)" :variant="'outline-'+theme.btn_outline" :title="copy_message" v-b-tooltip.hover>
                          <b-icon-clipboard/>
                        </b-button>
                      </b-col>
                    </b-row>
                    <b-row no-gutter>
                      <b-col cols="12" sm="6" class="d-flex justify-content-around my-2">
                        <b-button :variant="variant(s.episode)" :href="links.twoddl+'?q='+encodeURIComponent(s.show.title)" target="_blank">2DDL</b-button>
                        <b-button :variant="variant(s.episode)" :href="links.rarbg+'?search='+encodeURIComponent(s.show.title)+'+'+s.episode.code+resolution" target="_blank">RARBG</b-button>
                        <div>
                          <b-button :variant="variant(s.episode)" :href="links.animetosho+'?q='+encodeURIComponent(s.show.title)+resolution" target="_blank" v-if="Object.keys(s.show.genres).includes('Animation')">ANIME</b-button>
                          <b-button :variant="variant(s.episode)" :href="links.tgx+'?search='+encodeURIComponent(s.show.title)+'+'+s.episode.code+resolution" target="_blank" v-else>TGX</b-button>
                        </div>
                      </b-col>
                      <b-col cols="12" sm="6" class="d-flex justify-content-around my-2">
                        <b-form-checkbox v-model="s.episode.user.downloaded" @input="downloaded(s.episode)" button :button-variant="s.episode.user.downloaded ? 'success' : 'outline-secondary'">Downloaded</b-form-checkbox>
                        <b-form-checkbox v-model="s.episode.user.seen" @input="watched(s.episode)" button :button-variant="s.episode.user.seen ? 'success' : 'outline-secondary'">Watched</b-form-checkbox>
                        <b-button @click="refresh_episode(s.show.id)" :disabled="!s.episode.user.seen" :variant="s.episode.user.seen ? 'info' : 'secondary'">
                          <b-icon-chevron-double-right/>
                        </b-button>
                      </b-col>
                    </b-row>
                  </div>
                </b-card-body>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>

      <!-- SERIES -->

      <b-row no-gutters v-if="path=='search' || path=='discover' || path =='my_series'">
        <b-col cols="12" xl="6" v-for="s in series" class="d-flex" :key="s.id">
          <b-card no-body class="flex-fill" :bg-variant="theme.card_bg" :text-variant="theme.card_text">
            <b-row no-gutters>
              <b-col cols="4" sm="2" class="d-flex">
                <b-card-img-lazy :src="s.images.poster" alt="poster" class="rounded-0" v-if="s.images.poster!=undefined" style="object-fit: contain"></b-card-img-lazy>
              </b-col>
              <b-col cols="8" sm="10" class="d-flex">
                <b-card-body class="d-flex flex-column justify-content-between">
                  <b-card-title>
                    <b-button @click="route('serie', s.id)" variant="link" size="lg">{{ s.title }}</b-button>
                  </b-card-title>
                  <b-row class="text-center d-flex align-items-center">
                    <b-col cols="3">Creation: {{ s.creation }}</b-col>
                    <b-col cols="7">Genres: {{ Object.keys(s.genres).join(', ') }}</b-col>
                    <b-col cols="2">
                      <a :href="'https://www.imdb.com/title/'+s.imdb_id" target="_blank" v-if="s.imdb_id!=undefined">
                        <img src="imdb.svg" width="50px" alt="imdb">
                      </a>
                    </b-col>
                  </b-row>
                  <div class="my-2 overflow-auto" style="max-height: 75px">{{ s.description }}</div>
                  <div class="d-flex justify-content-center">
                    <div>
                      <b-button variant="danger" @click="remove_show(s.id)" v-if="s.in_account">Remove</b-button>
                      <b-button variant="primary" @click="add_show(s.id)" v-else>Add</b-button>
                    </div>
                    <div v-if="s.in_account">
                      <b-button variant="warning" @click="archive_show(s.id)" v-if="!s.user.archived">Archive</b-button>
                      <b-button variant="info" @click="unarchive_show(s.id)" v-else>Archive</b-button>
                    </div>
                  </div>
                </b-card-body>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>

      <!-- SERIE -->

      <div v-if="path=='serie' && serie!=undefined">
        <div class="d-flex">
          <b-card no-body class="flex-fill" :bg-variant="theme.card_bg" :text-variant="theme.card_text">
            <b-row no-gutters>
              <b-col cols="2" class="d-flex">
                <b-card-img :src="serie.show.images.poster" alt="poster" class="rounded-0" style="object-fit: contain"></b-card-img>
              </b-col>
              <b-col cols="10" class="d-flex">
                <b-card-body class="d-flex flex-column justify-content-between">
                  <b-card-title>
                    <b-dropdown size="lg" variant="dark" split>
                      <template #button-content>
                        <h4>{{ serie.show.title }}</h4>
                      </template>
                      <b-dropdown-item v-for="(a, j) in serie.show.aliases" @click="change_title(a)" :key="j">{{ a }}</b-dropdown-item>
                    </b-dropdown>
                  </b-card-title>
                  <b-row class="text-center d-flex align-items-center">
                    <b-col cols="3">Creation: {{ serie.show.creation }}</b-col>
                    <b-col cols="7">Genres: {{ Object.keys(serie.show.genres).join(', ') }}</b-col>
                    <b-col cols="2">
                      <a :href="'https://www.imdb.com/title/'+serie.show.imdb_id" target="_blank" v-if="serie.show.imdb_id!=undefined">
                        <img src="imdb.svg" width="100px" alt="imdb">
                      </a>
                    </b-col>
                  </b-row>
                  <div class="my-2 overflow-auto text-center" style="max-height: 75px">{{ serie.show.description }}</div>
                  <div class="text-center">
                    <b-button variant="info" @click="update_show(serie.show, true)">Refresh</b-button>
                    <span v-if="serie.show.in_account">
                      <b-button variant="danger" @click="remove_show(serie.show.id)">Remove</b-button>
                      <b-button variant="warning" @click="archive_show(serie.show.id)">Archive</b-button>
                    </span>
                    <b-button variant="primary" @click="add_show(serie.show.id)" v-else>Add</b-button>
                  </div>
                </b-card-body>
              </b-col>
            </b-row>
          </b-card>
        </div>
        <div class="text-center my-3">
          <b-button-group>
            <b-button v-for="(x, i) in Array(Number(serie.show.seasons))" @click="update_episodes(i+1)" :variant="i+1==serie.season ? 'primary' : 'outline-primary'" :key="i">
              Season {{i+1}}
            </b-button>
          </b-button-group>
        </div>
        <div class="mt-3" :class="theme.text">
          <b-row no-gutters v-for="e in serie.episodes" :key="e.id" class="text-center">
            <b-col cols="2">{{ e.date.toLocaleDateString("fr-FR") }}</b-col>
            <b-col cols="2">{{ e.code_fmt }}</b-col>
            <b-col cols="5">{{ e.title }}</b-col>
            <b-col cols="1">
              <b-button @click="copy(serie.show, e)" :variant="'outline-'+theme.btn_outline" :title="copy_message" v-b-tooltip.hover.left>
                <b-icon-clipboard/>
              </b-button>
            </b-col>
            <b-col cols="1">
              <b-form-checkbox v-model="e.user.downloaded" @input="downloaded(e)" button :button-variant="e.user.downloaded ? 'success' : 'outline-secondary'">
                <b-icon-download></b-icon-download>
              </b-form-checkbox>
            </b-col>
            <b-col cols="1">
              <b-form-checkbox v-model="e.user.seen" @input="watched(e)" button :button-variant="e.user.seen ? 'success' : 'outline-secondary'">
                <b-icon-eye-fill></b-icon-eye-fill>
              </b-form-checkbox>
            </b-col>
          </b-row>
        </div>
      </div>

      <!-- SETTINGS -->

      <b-container v-if="path=='settings'">

        <b-card :bg-variant="theme.card_bg" :text-variant="theme.card_text" title="Links" class="text-center">
          <b-input-group prepend="rarbg" class="m-2">
            <b-form-input v-model="links.rarbg">
            </b-form-input>
          </b-input-group>
          <b-input-group prepend="2ddl" class="m-2">
            <b-form-input v-model="links.twoddl">
            </b-form-input>
          </b-input-group>
          <b-input-group prepend="tgx" class="m-2">
            <b-form-input v-model="links.tgx">
            </b-form-input>
          </b-input-group>
          <b-input-group prepend="animetosho" class="m-2">
            <b-form-input v-model="links.animetosho">
            </b-form-input>
          </b-input-group>
          <b-button variant="primary" @click="update_links()">Update</b-button>
        </b-card>

        <b-card :bg-variant="theme.card_bg" :text-variant="theme.card_text" title="Resolution" class="text-center">
          <b-form-select :options="[{value:'', text:''}, {value:'+720p', text:'720p'}, {value:'+1080p', text:'1080p'}, {value:'+2160p', text:'2160p'}]" v-model="resolution" @change="update_resolution()"></b-form-select>
        </b-card>
      </b-container>

    </div>
  </body>
</html>
