<!doctype html>
<html>
  <head>
    <title>Series</title>
    <meta charset="utf-8">
    <link rel="icon" href="series_192.png">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="series.js" defer></script>
  </head>
  <body>
    <div id="app-loading" style="height:100vh"></div>
    <div id="app" style="display: none">

      <!-- NAVBAR -->

      <div class="navbar navbar-expand-sm sticky-top" :class="'bg-'+theme.bg+' '+theme.navbar">
        <div class="container-fluid">
          <div class="navbar-brand" @click="route('home', undefined)" role="button">
            <img src="series_192.png" alt="Logo" style="width:40px;">
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-collapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" :class="(path=='my_series') ? 'active' : ''" @click="route('my_series', undefined)" role="button">My Series</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" :class="(path=='discover') ? 'active' : ''" @click="route('discover', undefined)" role="button">Discover</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item" v-if="path=='home'">
                <a class="nav-link me-3" @click="change_order()" role="button">
                  <i v-if="order=='asc'" class="bi bi-sort-up"></i>
                  <i v-else class="bi bi-sort-down"></i>
                </a>
              </li>
              <li class="nav-item" v-if="path=='home'">
                <a class="nav-link me-3" @click="update_shows()" role="button">
                  <i class="bi bi-arrow-clockwise"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-3" @click="switch_theme()" role="button">
                  <i :class="'bi bi-'+theme.icon+' text-'+theme.icon_variant"></i>
                </a>
              </li>
              <div class="input-group">
                <input class="form-control" v-model="query" @keyup.enter="route('search', undefined)">
                <button class="btn btn-primary" @click="route('search', undefined)">Search</button>
              </div>
              <li class="nav-item">
                <a class="nav-link ms-3" :class="(path=='settings') ? 'active' : ''" @click="route('settings', undefined)" role="button">
                  <i class="bi bi-gear-fill"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link ms-3" @click="sign_out()" role="button">
                  <i :class="'bi bi-lock-fill text-'+theme.icon_variant"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="mb-3">

        <div class="container" v-if="path=='login'">
          <div class="mb-3">
            <label :class="'form-label text-'+theme.tx">Username</label>
            <input class="form-control" v-model.trim="login.username">
          </div>
          <div class="mb-3">
            <label :class="'form-label text-'+theme.tx">Password</label>
            <input class="form-control" v-model.trim="login.password" type="password" @keyup.enter="sign_in()">
          </div>
          <div class="text-center">
            <button class="btn btn-primary" @click="sign_in()">Sign In</button>
          </div>
        </div>

        <!-- HOME -->

        <div class="row g-0" v-else-if="path=='home'">
          <div class="col-12 col-xl-6 d-flex" v-for="s in shows" :key="s.show.id">
            <div class="card flex-fill" :class="'text-bg-'+theme.bg">
              <div class="row g-0">
                <div class="col-4 col-sm-2 d-flex">
                  <img class="card-img-top" :src="s.show.images.poster" alt="poster" class="rounded-0" @error="set_outdated(s.show)" v-if="!s.show.outdated && s.show.images.poster!=undefined" style="object-fit: contain" loading="lazy">
                  <div v-else class="d-flex flex-fill justify-content-center">
                    <button @click="update_show(s.show, false)" class="btn btn-secondary align-self-center">
                      <i class="bi bi-arrow-clockwise"></i>
                    </button>
                  </div>
                </div>
                <div class="col-8 col-sm-10 d-flex">
                  <div class="card-body d-flex flex-column justify-content-between">
                    <div class="card-title">
                      <a @click="route('serie', s.show.id)" :class="'btn btn-lg btn-'+theme.bg">{{ s.show.title }}</a>
                    </div>
                    <div v-if="s.episode!=undefined">
                      <div class="row pb-4 d-flex align-items-center text-center">
                        <div class="col-3">{{ s.episode.code_fmt }}</div>
                        <div class="col-4 text-center">{{ s.episode.title }}</div>
                        <div class="col-3">{{ s.episode.date.toLocaleDateString("fr-FR") }}</div>
                        <div class="col-2">
                          <copy-button :show="s.show" :episode="s.episode" :tx="theme.tx"></copy-button>
                        </div>
                      </div>
                      <div class="row g-0">
                        <div class="col-12 col-sm-6 d-flex justify-content-around my-2">
                          <span v-for="p in proxies">
                            <a v-if="p.for_anime && Object.keys(s.show.genres).includes('Animation') || !p.for_anime" :class="'btn btn-'+variant(s.episode)" :href="p.url+encodeURIComponent(s.show.title+' '+(p.with_code ? s.episode.code : '')+resolution)+p.post_url" target="_blank">{{ p.name }}</a>
                          </span>
                        </div>
                        <div class="col-12 col-sm-6 d-flex justify-content-around my-2">
                          <load-button :variant="s.episode.user.downloaded ? 'success' : 'outline-secondary'" :action="() => downloaded(s.episode)">Downloaded</load-button>
                          <load-button :variant="s.episode.user.seen ? 'success' : 'outline-secondary'" :action="() => watched(s.episode)">Watched</load-button>
                          <button @click="refresh_episode(s.show.id)" :disabled="!s.episode.user.seen" :class="s.episode.user.seen ? 'btn btn-info' : 'btn btn-secondary'">
                            <i class="bi bi-chevron-double-right"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- SERIES -->

        <div class="row g-0" v-else-if="path=='search' || path=='discover' || path =='my_series'">
          <div class="col-12 col-xl-6 d-flex" v-for="s in series" :key="s.id">
            <div class="card flex-fill" :class="'text-bg-'+theme.bg">
              <div class="row g-0">
                <div class="col-4 col-sm-2 d-flex">
                  <img class="card-img-top" :src="s.images.poster" alt="poster" class="rounded-0" v-if="s.images.poster!=undefined" style="object-fit: contain" loading="lazy">
                </div>
                <div class="col-8 col-sm-10 d-flex">
                  <div class="card-body d-flex flex-column justify-content-between">
                    <div class="card-title">
                      <button @click="route('serie', s.id)" :class="'btn btn-lg btn-'+theme.bg">{{ s.title }}</button>
                    </div>
                    <div class="text-center d-flex align-items-center">
                      <div class="col-3">Creation: {{ s.creation }}</div>
                      <div class="col-7">Genres: {{ Object.keys(s.genres).join(', ') }}</div>
                      <div class="col-2">
                        <a :href="'https://www.imdb.com/title/'+s.imdb_id" target="_blank" v-if="s.imdb_id!=undefined">
                          <img src="imdb.svg" width="50px" alt="imdb">
                        </a>
                      </div>
                    </div>
                    <div class="my-2 overflow-auto" style="max-height: 75px">{{ s.description }}</div>
                    <div class="d-flex justify-content-center">
                      <div>
                        <button class="btn btn-danger" @click="remove_show(s.id)" v-if="s.in_account">Remove</button>
                        <button class="btn btn-primary" @click="add_show(s.id)" v-else>Add</button>
                      </div>
                      <div v-if="s.in_account">
                        <button class="btn btn-warning" @click="archive_show(s.id)" v-if="!s.user.archived">Archive</button>
                        <button class="btn btn-info" @click="unarchive_show(s.id)" v-else>Archive</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- SERIE -->

        <div v-else-if="path=='serie' && serie!=undefined">
          <div class="d-flex">
            <div class="card flex-fill" :class="'text-bg-'+theme.bg">
              <div class="row g-0">
                <div class="col-2 d-flex">
                  <img class="card-img-top" :src="serie.show.images.poster" alt="poster" class="rounded-0" style="object-fit: contain">
                </div>
                <div class="col-10 d-flex">
                  <div class="card-body d-flex flex-column justify-content-between">
                    <div class="card-title">
                      <div class="btn-group">
                        <button type="button" :class="'btn btn-lg btn-'+theme.bg">{{ serie.show.title }}</button>
                        <button type="button" :class="'dropdown-toggle dropdown-toggle-split btn btn-lg btn-'+theme.bg" data-bs-toggle="dropdown"></button>
                        <ul class="dropdown-menu dropdown-menu-end" :class="'dropdown-menu-'+theme.bg">
                          <li v-for="(a, j) in serie.show.aliases" :key="j">
                            <a class="dropdown-item" @click="change_title(a)" role="button">{{ a }}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="row text-center d-flex align-items-center">
                      <div class="col-3">Creation: {{ serie.show.creation }}</div>
                      <div class="col-7">Genres: {{ Object.keys(serie.show.genres).join(', ') }}</div>
                      <div class="col-2">
                        <a :href="'https://www.imdb.com/title/'+serie.show.imdb_id" target="_blank" v-if="serie.show.imdb_id!=undefined">
                          <img src="imdb.svg" width="100px" alt="imdb">
                        </a>
                      </div>
                    </div>
                    <div class="my-2 overflow-auto text-center" style="max-height: 75px">{{ serie.show.description }}</div>
                    <div class="text-center">
                      <button class="btn btn-info" @click="update_show(serie.show, true)">Refresh</button>
                      <span v-if="serie.show.in_account">
                        <button class="btn btn-danger" @click="remove_show(serie.show.id)">Remove</button>
                        <button class="btn btn-warning" @click="archive_show(serie.show.id)">Archive</button>
                      </span>
                      <button class="btn btn-primary" @click="add_show(serie.show.id)" v-else>Add</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center my-3">
            <div class="btn-group">
              <button v-for="(x, i) in Array(Number(serie.show.seasons))" @click="update_episodes(i+1)" :class="i+1==serie.season ? 'btn btn-primary' : 'btn btn-outline-primary'" :key="i">
                Season {{i+1}}
              </button>
            </div>
          </div>
          <div class="mt-3" :class="'text-'+theme.tx">
            <div class="row g-0 text-center" v-for="e in serie.episodes" :key="e.id">
              <div class="col-2">{{ e.date.toLocaleDateString("fr-FR") }}</div>
              <div class="col-2">{{ e.code_fmt }}</div>
              <div class="col-5">{{ e.title }}</div>
              <div class="col-1">
                <copy-button :show="serie.show" :episode="e" :tx="theme.tx" placement="left"></copy-button>
              </div>
              <div class="col-1">
                <load-button :variant="e.user.downloaded ? 'success' : 'outline-secondary'" :action="() => downloaded(e)">
                  <i class="bi bi-download"></i>
                </load-button>
              </div>
              <div class="col-1">
                <load-button :variant="e.user.seen ? 'success' : 'outline-secondary'" :action="() => watched(e)">
                  <i class="bi bi-eye-fill"></i>
                </load-button>
              </div>
            </div>
          </div>
        </div>

        <!-- SETTINGS -->

        <div class="container" v-else-if="path=='settings'">

          <div class="card text-center" :class="'text-bg-'+theme.bg">
            <div class="card-body">
              <h4 class="card-title">Proxies</h4>
              <table class="table table-dark m-2" v-if="proxies.length!=0">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">URL</th>
                    <th scope="col">Code</th>
                    <th scope="col">Anime</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(p, i) in proxies">
                    <td>{{ p.name }}</td>
                    <td>{{ p.url + '{query}' + p.post_url }}</td>
                    <td>{{ p.with_code }}</td>
                    <td>{{ p.for_anime }}</td>
                    <td>
                      <button class="btn btn-danger btn-sm" @click="remove_proxy(p.name, i)">
                        <i class="bi bi-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div :class="'card m-2 text-bg-'+theme.bg">
                <div class="row">
                  <div class="col-3">
                    <div class="input-group mb-2">
                      <span class="input-group-text">Name</span>
                      <input type="text" class="form-control" v-model="proxy.name">
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="input-group mb-2">
                      <span class="input-group-text">URL</span>
                      <input type="text" class="form-control" v-model="proxy.url">
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="input-group mb-2">
                      <span class="input-group-text">after</span>
                      <input type="text" class="form-control" v-model="proxy.post_url">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 offset-2">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" v-model="proxy.with_code">
                      <label class="form-check-label">Use with code</label>
                    </div>
                  </div>
                  <div class="col-3 offset-2">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" v-model="proxy.for_anime">
                      <label class="form-check-label">Use for Anime</label>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary m-2" @click="add_proxy(proxy)">
                  ADD
                </button>
              </div>
            </div>
          </div>

          <div class="card text-center" :class="'text-bg-'+theme.bg">
            <div class="card-body">
              <h4 class="card-title">Resolution</h4>
              <select class="form-select" v-model="resolution" @change="update_resolution()">
                <option value=""></option>
                <option value=" 720p">720p</option>
                <option value=" 1080p">1080p</option>
                <option value=" 2160p">2160p</option>
              </select>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
