<!doctype html>
<html>
  <head>
    <title>Series</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="series_192.png">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="manifest" href="manifest.json">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="series.js" defer></script>
  </head>
  <body data-bs-theme="dark">
    <div id="app-loading" style="height:100vh"></div>
    <div id="app" style="display: none">

      <!-- NAVBAR -->

      <div class="navbar navbar-expand-sm sticky-top">
        <div class="container-fluid">
          <div class="navbar-brand" @click="route('home', undefined)" role="button">
            <img src="series_192.png" alt="Logo" width="40">
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-collapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="navbar-nav">
              <li class="nav-item text-center">
                <a class="nav-link" :class="(page=='my_series') ? 'active' : ''" @click="route('my_series', undefined)" role="button">My Series</a>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link" :class="(page=='discover') ? 'active' : ''" @click="route('discover', undefined)" role="button">Discover</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item d-sm-none">
                <div class="input-group me-3">
                  <input class="form-control" v-model="query" @keyup.enter="route('search', undefined)">
                  <button class="btn btn-primary" @click="route('search', undefined)">Search</button>
                </div>
              </li>
              <li class="nav-item d-none d-sm-flex" v-if="page=='home'">
                <a class="nav-link me-3" @click="change_order()" role="button">
                  <i v-if="order=='asc'" class="bi bi-sort-up"></i>
                  <i v-else class="bi bi-sort-down"></i>
                </a>
              </li>
              <li class="nav-item d-none d-sm-flex" v-if="page=='home'">
                <a class="nav-link me-3" @click="update_shows()" role="button">
                  <i class="bi bi-arrow-clockwise"></i>
                </a>
              </li>
              <li class="nav-item d-none d-sm-flex">
                <a class="nav-link me-3" @click="switch_theme()" role="button">
                  <i v-if="theme=='dark'" class="bi bi-sun-fill"></i>
                  <i v-else class="bi bi-moon-fill"></i>
                </a>
              </li>
              <li class="nav-item d-none d-sm-flex">
                <div class="input-group me-3">
                  <input class="form-control" v-model="query" @keyup.enter="route('search', undefined)">
                  <button class="btn btn-primary" @click="route('search', undefined)">Search</button>
                </div>
              </li>
              <li class="nav-item d-none d-sm-flex">
                <a class="nav-link me-3" :class="(page=='settings') ? 'active' : ''" @click="route('settings', undefined)" role="button">
                  <i class="bi bi-gear-fill"></i>
                </a>
              </li>
              <li class="nav-item d-none d-sm-flex">
                <a class="nav-link me-3 float-right" @click="sign_out()" role="button">
                  <i class="bi bi-lock-fill"></i>
                </a>
              </li>
              <li class="nav-item d-sm-none d-flex justify-content-around">
                <a class="nav-link me-3" @click="change_order()" role="button">
                  <i v-if="order=='asc'" class="bi bi-sort-up"></i>
                  <i v-else class="bi bi-sort-down"></i>
                </a>
                <a class="nav-link me-3" @click="update_shows()" role="button">
                  <i class="bi bi-arrow-clockwise"></i>
                </a>
                <a class="nav-link me-3" @click="switch_theme()" role="button">
                  <i v-if="theme=='dark'" class="bi bi-sun-fill"></i>
                  <i v-else class="bi bi-moon-fill"></i>
                </a>
                <a class="nav-link me-3" :class="(page=='settings') ? 'active' : ''" @click="route('settings', undefined)" role="button">
                  <i class="bi bi-gear-fill"></i>
                </a>
                <a class="nav-link me-3 float-right" @click="sign_out()" role="button">
                  <i class="bi bi-lock-fill"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="mb-3">

        <div class="m-5 text-center" v-if="page=='loading'">
          <div class="spinner-border"></div>
        </div>

        <div class="container" v-else-if="page=='login'">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input class="form-control" v-model.trim="login.username">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" v-model.trim="login.password" type="password" @keyup.enter="sign_in()">
          </div>
          <div class="text-center">
            <button class="btn btn-primary" @click="sign_in()">Sign In</button>
          </div>
        </div>

        <!-- HOME -->

        <div class="row g-0" v-else-if="page=='home'">
          <div class="col-12 col-xl-6 d-flex" v-for="s in shows" :key="s.show.id">
            <div class="card flex-fill">
              <div class="row g-0">
                <div class="col-4 col-sm-2 d-flex">
                  <img class="card-img-top" :src="s.show.images.poster.url" alt="poster" class="rounded-0" @error="set_outdated(s.show)" v-if="!s.show.outdated && s.show.images.poster!=undefined" style="object-fit: contain" loading="lazy">
                  <div v-else class="d-flex flex-fill justify-content-center">
                    <button @click="update_show(s.show, false)" class="btn btn-secondary align-self-center">
                      <i class="bi bi-arrow-clockwise"></i>
                    </button>
                  </div>
                </div>
                <div class="col-8 col-sm-10 d-flex">
                  <div class="card-body d-flex flex-column justify-content-between">
                    <div class="card-title">
                      <a @click="route('serie', s.show.id)" class="btn btn-lg">{{ s.show.title }}</a>
                    </div>
                    <div v-if="s.episode!=undefined">
                      <div class="row pb-4 d-flex align-items-center text-center">
                        <div class="col-4 col-sm-3 order-0">{{ s.episode.code_fmt }}</div>
                        <div class="col-8 col-sm-4 text-center order-2 order-sm-1">{{ s.episode.title }}</div>
                        <div class="col-8 col-sm-3 order-1 order-sm-2">{{ s.episode.date.toLocaleDateString("fr-FR") }}</div>
                        <div class="col-4 col-sm-2 order-3">
                          <copy-button :show="s.show" :episode="s.episode"></copy-button>
                        </div>
                      </div>
                      <div class="row g-0">
                        <div class="col-12 col-sm-6 d-flex justify-content-around my-2">
                          <a v-for="p in proxies" v-show="p.kind=='anime' && Object.keys(s.show.genres).includes('Animation') || p.kind=='series' && !Object.keys(s.show.genres).includes('Animation') || p.kind=='both'" :class="'btn btn-'+variant(s.episode)" :href="p.url+encodeURIComponent(s.show.title+' '+(p.with_code ? s.episode.code : '')+resolution)+p.post_url" target="_blank">{{ p.name }}</a>
                        </div>
                        <div class="d-none d-sm-flex col-sm-6 justify-content-around my-2">
                          <load-button :variant="s.episode.user.downloaded ? 'success' : 'outline-secondary'" :action="() => downloaded(s.episode)">Downloaded</load-button>
                          <load-button :variant="s.episode.user.seen ? 'success' : 'outline-secondary'" :action="() => watched(s.episode)">Watched</load-button>
                          <load-button :variant="s.episode.user.seen ? 'info' : 'secondary'" :action="() => refresh_episode(s.show.id, s.episode.id)" :disabled="!s.episode.user.seen">
                            <i class="bi bi-chevron-double-right"></i>
                          </load-button>
                        </div>
                        <div class="d-sm-none col-12 d-flex justify-content-around my-2">
                          <load-button :variant="s.episode.user.downloaded ? 'success' : 'outline-secondary'" :action="() => downloaded(s.episode)">
                            <i class="bi bi-download"></i>
                          </load-button>
                          <load-button :variant="s.episode.user.seen ? 'success' : 'outline-secondary'" :action="() => watched(s.episode)">
                            <i class="bi bi-eye-fill"></i>
                          </load-button>
                          <load-button :variant="s.episode.user.seen ? 'info' : 'secondary'" :action="() => refresh_episode(s.show.id, s.episode.id)" :disabled="!s.episode.user.seen">
                            <i class="bi bi-chevron-double-right"></i>
                          </load-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- SERIES -->
        <div v-else-if="(page=='search' || page=='discover' || page=='my_series') && series.length==0" class="m-5 text-center">
          No result found
        </div>
        <div class="row g-0" v-else-if="page=='search' || page=='discover' || page=='my_series'">
          <div class="col-12 col-xl-6 d-flex" v-for="s in series" :key="s.id">
            <div class="card flex-fill">
              <div class="row g-0">
                <div class="col-4 col-sm-2 d-flex">
                  <img class="card-img-top" :src="s.images.poster.url" alt="poster" class="rounded-0" v-if="s.images.poster!=undefined" style="object-fit: contain" loading="lazy">
                </div>
                <div class="col-8 col-sm-10 d-flex">
                  <div class="card-body d-flex flex-column justify-content-between">
                    <div class="card-title">
                      <button @click="route('serie', s.id)" class="btn btn-lg">{{ s.title }}</button>
                    </div>
                    <div class="row text-center d-flex align-items-center">
                      <div class="col-12 col-sm-3">Creation: {{ s.creation }}</div>
                      <div class="col-12 col-sm-7">Genres: {{ Object.keys(s.genres).join(', ') }}</div>
                      <div class="col-12 col-sm-2">
                        <a :href="'https://www.imdb.com/title/'+s.imdb_id" target="_blank" v-if="s.imdb_id!=undefined">
                          <img src="imdb.svg" width="50" alt="imdb">
                        </a>
                      </div>
                    </div>
                    <div class="my-2 overflow-auto" style="max-height: 75px">{{ s.description }}</div>
                    <div class="d-flex justify-content-center">
                      <div>
                        <button class="btn btn-danger" @click="remove_show(s.id)" v-if="s.in_account">Remove</button>
                        <button class="btn btn-primary" @click="add_show(s.id)" v-else>Add</button>
                      </div>
                      <div v-if="s.in_account">
                        <button class="btn btn-warning" @click="archive_show(s.id)" v-if="!s.user.archived">Archive</button>
                        <button class="btn btn-info" @click="unarchive_show(s.id)" v-else>Archive</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- SERIE -->

        <div v-else-if="page=='serie' && serie!=undefined">
          <div class="d-flex">
            <div class="card flex-fill">
              <div class="row g-0">
                <div class="col-12 d-sm-none text-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-lg">{{ serie.show.title }}</button>
                    <button type="button" class="dropdown-toggle dropdown-toggle-split btn btn-lg" data-bs-toggle="dropdown"></button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li v-for="(a, j) in serie.show.aliases" :key="j">
                        <a class="dropdown-item" @click="change_title(a)" role="button" :value="a">{{ a }}</a>
                      </li>
                      <li>
                        <div class="input-group">
                          <input class="dropdown-item form-control" placeholder="custom" @input="set_title_alias"/>
                          <button class="btn btn-sm"><i class="bi bi-arrow-right" @click="change_title(undefined)"></i></button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 col-sm-2 d-flex">
                  <img class="card-img-top" :src="serie.show.images.poster?.url" alt="poster" class="rounded-0" style="object-fit: contain">
                </div>
                <div class="col-12 col-sm-10 d-flex">
                  <div class="card-body d-flex flex-column justify-content-between">
                    <div class="card-title d-none d-sm-flex">
                      <div class="btn-group">
                        <button type="button" class="btn btn-lg">{{ serie.show.title }}</button>
                        <button type="button" class="dropdown-toggle dropdown-toggle-split btn btn-lg" data-bs-toggle="dropdown"></button>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li v-for="(a, j) in serie.show.aliases" :key="j">
                            <a class="dropdown-item" @click="change_title(a)" role="button" :value="a">{{ a }}</a>
                          </li>
                          <li>
                            <div class="input-group">
                              <input class="dropdown-item form-control" placeholder="custom" @input="set_title_alias"/>
                              <button class="btn btn-sm"><i class="bi bi-arrow-right" @click="change_title(undefined)"></i></button>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="text-center d-flex align-items-center justify-content-around">
                      <div>Creation: {{ serie.show.creation }}</div>
                      <div>Genres: {{ Object.keys(serie.show.genres).join(', ') }}</div>
                      <div v-if="serie.show.imdb_id!=undefined">
                        <a :href="'https://www.imdb.com/title/'+serie.show.imdb_id" target="_blank" >
                          <img src="imdb.svg" width="80" alt="imdb">
                        </a>
                      </div>
                    </div>
                    <div class="my-2 overflow-auto text-center" style="max-height: 75px">{{ serie.show.description }}</div>
                    <div class="d-flex justify-content-around">
                      <div class="text-center">
                        <button class="btn btn-info" @click="update_show(serie.show, true)">Refresh</button>
                        <span v-if="serie.show.in_account">
                          <button class="btn btn-danger" @click="remove_show(serie.show.id)">Remove</button>
                          <button class="btn btn-warning" @click="archive_show(serie.show.id)">Archive</button>
                        </span>
                        <button class="btn btn-primary" @click="add_show(serie.show.id)" v-else>Add</button>
                      </div>
                      <input type="text" class="form-control" v-model="serie.team" placeholder="Team" style="max-width:200px">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center my-3">
            <div class="d-flex flex-wrap btn-group">
              <button v-for="(x, i) in Array(Number(serie.show.seasons))" @click="update_episodes(i+1)" :class="i+1==serie.season ? 'btn btn-primary' : 'btn btn-outline-primary'" :key="i">
                Season {{i+1}}
              </button>
            </div>
          </div>
          <div class="mt-3">
            <div class="row g-0 text-center d-flex align-items-center" v-for="e in serie.episodes" :key="e.id">
              <div class="col-4 col-sm-2 order-0">{{ e.date.toLocaleDateString("fr-FR") }}</div>
              <div class="col-3 col-sm-2 order-2 order-sm-1">{{ e.code_fmt }}</div>
              <div class="col-8 col-sm-5 order-1 order-sm-2">{{ e.title }}</div>
              <div class="col-3 col-sm-1 order-3 order-sm-3">
                <copy-button :show="serie.show" :episode="e" :team="serie.team" placement="left"></copy-button>
              </div>
              <div class="col-3 col-sm-1 order-4">
                <load-button :variant="e.user.downloaded ? 'success' : 'outline-secondary'" :action="() => downloaded(e)">
                  <i class="bi bi-download"></i>
                </load-button>
              </div>
              <div class="col-3 col-sm-1 order-5">
                <load-button :variant="e.user.seen ? 'success' : 'outline-secondary'" :action="() => watched(e)">
                  <i class="bi bi-eye-fill"></i>
                </load-button>
              </div>
            </div>
          </div>
        </div>

        <!-- SETTINGS -->

        <div class="container" v-else-if="page=='settings'">

          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title">Proxies</h4>
              <table class="m-2 table" v-if="proxies.length!=0">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">URL</th>
                    <th scope="col">Code</th>
                    <th scope="col">Anime</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(p, i) in proxies">
                    <td>{{ p.name }}</td>
                    <td>{{ p.url + '{query}' + p.post_url }}</td>
                    <td>{{ p.with_code }}</td>
                    <td>{{ p.kind }}</td>
                    <td>
                      <button class="btn btn-danger btn-sm" @click="remove_proxy(p.name, i)">
                        <i class="bi bi-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="card m-2">
                <div class="row">
                  <div class="col-3">
                    <div class="input-group mb-2">
                      <span class="input-group-text">Name</span>
                      <input type="text" class="form-control" v-model="proxy.name">
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="input-group mb-2">
                      <span class="input-group-text">URL</span>
                      <input type="text" class="form-control" v-model="proxy.url">
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="input-group mb-2">
                      <span class="input-group-text">after</span>
                      <input type="text" class="form-control" v-model="proxy.post_url">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-1 col-5">
                    <div class="input-group mb-2">
                      <span class="input-group-text">kind</span>
                      <select v-model="proxy.kind" class="form-select">
                        <option value="both" selected>both</option>
                        <option value="anime">anime</option>
                        <option value="series">series</option>
                      </select>
                    </div>
                  </div>
                  <div class="offset-1 col-2 align-self-center">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" v-model="proxy.with_code">
                      <label class="form-check-label">Use with code</label>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary m-2" @click="add_proxy(proxy)">
                  ADD
                </button>
              </div>
            </div>
          </div>

          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title">Resolution</h4>
              <select class="form-select" v-model="resolution" @change="update_resolution()">
                <option value=""></option>
                <option value=" 720p">720p</option>
                <option value=" 1080p">1080p</option>
                <option value=" 2160p">2160p</option>
              </select>
            </div>
          </div>
        </div>

        <div class="container" v-else-if="page=='key'">
          <div class="p-5 m-5 text-center">
            <input class="form-control" @keyup.enter="set_api_key">
          </div>
        </div>

      </div>
    </div>

  </body>
</html>
